body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #ffd6d6;
}
.quem-somos{
    background-color: #f9fddc;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: #d3ffd1;
}
.servicos{
    background-color: #ccfbff;
}
.bg-footer{
    background-color: #ded0ff;
}